<div class="alert alert-dark">Home / <span><a routerLink="/Chuong2">sinhvien</a> / {{ student.lastName }}</span></div>
<div class="card">
    <div class="card-header">
        <span><i class="fas fa-table"></i></span>
        Details
    </div>
    <div class="card-body">
        <p>First Name: {{ student.firstName }}</p>
        <p>Last Name: {{ student.lastName }}</p>
        <p>Enroll Date: {{ student.enrollmentDate | date:"dd/MM/yyyy" }}</p>
        <table class="table table-bordered">
            <thead>
                <th>Course Title</th>
                <th>Grade</th>
                <th>Credits</th>
            </thead>
            <tbody>
                <tr *ngFor="let enrollment of enrollments">
                    <td>{{ courses[enrollment.courseId].title }}</td>
                    <td>{{ enrollment.grade.charCodeAt(0) }} {{ enrollment.grade }}</td>
                    <td>{{ courses[enrollment.courseId].credits }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
