<table class="mt-5">   
    <thead>     
        <tr>       
            <th scope="col">Hình</th>       
            <th scope="col">Họ và Tên</th>       
            <th scope="col">Ngày Sinh</th>       
            <th scope="col">Giới tính</th>       
            <th scope="col">Điểm</th>     
        </tr>   
    </thead>   
    <tbody>     
        <tr *ngFor="let student of students">       
            <td><img [src]="student.photo" width="100px" height="auto" alt="students.fullName"></td>       
            <td>{{student.fullName}}</td>       
            <td>{{student.birthday}}</td>       
            <td>{{student.gender}}</td>       
            <td>{{student.mark}}</td>     
        </tr> 
</table>
