<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/Chuong I"]'>Chương 1<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/Chuong2"]'>Chương 2<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/Chuong3"]'>Chương 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/Chuong5"]' tabindex="-1" aria-disabled="true">Chương 5</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]='["/Chuong6"]'>Chương 6<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/Chuong7"]'>Chương 7<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/Chuong8"]'>Chương 8<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    
  </div>
</nav>