<div class="container-fluid mt-5">
    <a routerLink='/Chuong I/bai1' class="btn w-100 btn-secondary" role="button">Bai 1</a>
</div>
<div class="container-fluid  mt-2">
    <a routerLink='/Chuong I/bai2' class="btn w-100 btn-secondary" role="button">Bai 2</a>
</div>
<div class="container-fluid  mt-2">
    <a routerLink='/Chuong I/bai3' class="btn w-100 btn-secondary" role="button">Bai 3</a>
</div>
<div class="container-fluid  mt-2">
    <a routerLink='/Chuong I/productlist' class="btn w-100 btn-secondary" role="button">Bai 4</a>
</div>
<div class="container-fluid  mt-2">
    <a routerLink='/Chuong I/giohang' class="btn w-100 btn-secondary" role="button">Gio Hang</a>
</div>