<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " [routerLink]='["/Chuong5/ex1"]'>Bai1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/Chuong5/ex2"]'>Bai2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/Chuong5/ex3"]'>Bai3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/Chuong5/ex4"]'>Bai4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/Chuong5/ex5"]'>Bai5</a>
    </li>
  </ul>