<div class="row mt-4">
    <div class="col-sm-3">
        <img [src]="product.imageUrl" alt="">
    </div>
    <div class="col-sm-8 offset-sm-1">
        <div><span><strong>Ten Hang: </strong></span>{{ product.tenhang }}</div>
        <div><span><strong>Don Gia: </strong></span>{{ product.dongia }}</div>
        <div><span><strong>Nha Cung Cap: </strong></span>{{ product.nhacungcap }}</div>
        <div><span><strong>Chung Loai: </strong></span>{{ product.chungloai }}</div>
        <div><span><strong>Hang Moi NHap (...) </strong></span>{{ product.hangmoinhap }}</div>
        <div><span><strong>Giam Gia: </strong></span>{{ product.giamgia }}</div>
        
    </div>
</div>
